@charset"utf-8";
.userinfo{
  width: 99%;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
  top: 50px;
  .userlist{
  min-height: 75px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #f2f2f2;
  margin: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .nicheng{
      color: #f9a00a;
      font-size: 14px;
  }

  .contentlist{
      height: 60px;
    width: 90%;
    padding-right: 30px;
    border: 1px solid #f2f2f2;
    border-right: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #666;
    background: url(../images/goforword.png) right center no-repeat;
  }
  .bgn{
  background-image:none;
  }
  }
}




.u-header{
	position: relative;
	width:100%;
	height:46px;
	line-height: 46px;
	box-shadow:0px 1px 3px #ccc;
	font-size: 1.8rem;
	text-align:center;
	z-index: 200;
	background:#F0F0F0;
	.uc_return{
	overflow:hidden;
	line-height:46px;
	position: relative;
	   .uc_return_l{
	       position:absolute;
	       height: 46px;
	       width: 40px;
	       cursor: pointer;
	       background: url(../images/return.png) left center no-repeat;
	       background-size: 13px 21px;
	       cursor: pointer;
	       left:12px;
	   }
	   .uc_return_c{
	       float:left;
	       width:100%;
	   }
	   .uc_return_r{
	   position:absolute;
	   height: 46px;
	   width: 40px;
	   line-height: 46px;
	   font-size:15px;
	   right:12px;
	   }
	}
}


.logging{
		width:100%;
		background:#fff;
		margin-top:15px;
		width:100%;
		height:130px;
	ul{
	    margin: 22px 0;
	    font-size: 1.4rem;
	    line-height: 23px;
	    background:#fff;

	       li{
		       overflow: hidden;
		       position: relative;
		       s{
			       float: left;
			       margin: 5px 10px;
		       }
		       input{
			       border: none;
			       line-height: 34px;
			       font-size: 1.4rem;
			       line-height: 47px;
		       }
			       .uc_logging_phone{
			           width:24px;
			           height:34px;
			           display:block;
			           background: url(../images/head_gray.png) no-repeat 0 center;
			           margin-right: 15px;
			           background-size: 24px auto;
			       }

			       .uc_logging_password{
				       width: 24px;
				       height: 34px;
				       display: inline-block;
				       margin-right: 15px;
				       background: url(../images/uc_logging_password.png) no-repeat 0 center;
				       background-size: 24px auto;
				       text-indent: 20px;
			       }
			       .login_Password{
			       text-indent:20px;
			       }
			       
	       }
	    }
	.outborder{
		border-top: 1px solid #e2e2e3;
	    border-bottom: 1px solid #eee;
	}
}


.find_paw{
	padding-left: 10px;
	font-size: 1.2rem;
	margin-top:20px;
}

.btn_wrap{
	.btn{
	width:95%;
	height:46px;
	background:#28c728;
	color:#fff;
	text-align:center;
	line-height:46px;
	font-size:1.6rem;
	margin: 10px auto;
	border-radius:3px;
	}
}


.quick_register{
	text-align:center;
	color:#fff;
	a{
	color:#28c728;
	font-size:1.4rem;
	}
}